.App {
  text-align: center;
  background-color: rgb(17, 4, 4);
  color:white;

}
*div1{
  background-color: blueviolet;
}
*div2{
  background-color: rgb(27, 77, 228);
}
*div3{
  background-color: rgb(25, 107, 40);
}
